
.container{
    height: 110vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 85% 10%;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";

}


.header{
    grid-area: header;
    z-index: 100;
    background-color: rgb(163, 37, 37);
    border-bottom: 1px solid rgb(211, 213, 8);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    "navHead logo"
    "menuIcon logo"
    ;
}
.header:hover{
    background-color: rgb(145, 34, 34);
}
#menuIcon{
    width: 7vw;
    height: 6vh;
    grid-area:menuIcon;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 12%;
    left: 20vw;

}

#menuPic{
    width: 7vw;
    height: 3vh;
}
#navHead{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    grid-area:navHead;
}
#logo{
    width: 20%;
    height: 100%;

}
#logoPic{
    height: 100%
}
.menu{
    text-decoration: none;
    padding: 2%;
    color:  rgb(211, 213, 8);
}
#menuPoker{
    border-bottom: 2px solid   rgb(211, 213, 8);
 
}
#menuSlotMachine{
    border-bottom: 2px solid   rgb(211, 213, 8);
}
#menuRoulette{
    border-bottom: 2px solid   rgb(211, 213, 8);
}
.menu:hover{
    border-bottom: 2px solid   rgb(211, 213, 8);
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(40, 26, 23);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 30;
    width: 30%;
    position: absolute;
    bottom: 100%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#menuIcon:hover ~ .sidebar{
    animation-name: sidebar;
}
.sidebar:hover{
    animation-name: sidebar;
}

@keyframes sidebar {
    from{
        bottom: 100%;
    }
    
    to{
        bottom: 3%;
    }
}


#categories{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.categoryDiv:hover{
    background-color: rgb(66, 47, 42);

}
.categoryDiv{
    width: 100%;
    height: 8vh;
    border: 1px solid;
    display: flex;
}
.category{
    color: #fff;
    text-decoration: none;
    padding: 10%;

}
.main{
    grid-area: main;
    background-color: rgb(48, 88, 57);

    
}
#positionArea1{
    height: 22vh;
    width: 56vw;
    position: absolute;
    top: 24vh;
    left: 3vw;
    display: flex;
    justify-content: space-between;
}

#positionArea2{
    height: 22vh;
    width: 37vw;
    position: absolute;
    top: 24vh;
    left: 62vw;
    display: flex;
    justify-content:space-between;
}
.position{
    width: 16vw;
    height: 22vh;
    border: 3px solid rgb(211, 213, 8); 

}
.cards{
    width: 15vw;
    height: 20vh;
    border-radius: 4px;
    border: 1px solid;
    transform: rotateY(0deg);
    background-size: 100% 100%;
    background-image: url(pictures/reverse_card.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    

}
 
#base{
    box-shadow: 0px 5px white, 6px 5px rgb(231, 229, 229);

}



#mycard1{
    animation: mycard1 5s  1 forwards linear;

    

}
#mycard2{
    animation: mycard2 5s  1 forwards linear;

}
#base1{
    
    animation: base1 5s 1 forwards 6s  linear;
   

}

#card1{
   
    animation: card1 2s  1 forwards 1s linear;
    

}
#card2{
    
    animation: card2 2s  1 forwards 1s linear;
    

}

#card3{
    
    animation: card3 2s  1 forwards 1s linear;
    
   

}

#base2{
    
    animation: base2 5s 1 forwards 15s  linear;
    


}
#card4{
    
    animation: card4 5s 1 forwards 16s  linear;
    
   

}
#base3{
    
    animation: base3 5s 1 forwards 22s  linear;
    


}
#card5{
    
    animation: card5 5s 1 forwards 23s  linear;
   
}


@keyframes card1 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);          top: 50%;
        left: 50%;
    }
      10% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);     top: 25%;
        left: 4%;

    }
    54. 999% {
       background-image: url(pictures/reverse_card.jpg);     top: 25%;
       left: 4%;

    } 
    55.001% {
        background-image: url(pictures/reverse_card.jpg);     top: 25%;
        left: 4%;

     }
    55.002% {
        background-image: url(pictures/king_card.png);    top: 25%;
        left: 4%;

     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png);     top: 25%;
        left: 4%;

    }
    
    
}
@keyframes card2 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);         top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg); top: 25%;
        left: 23%;

    }
    49. 999% {
       background-image: url(pictures/reverse_card.jpg); top: 25%;
       left: 23%;

    } 
    50.001% {
        background-image: url(pictures/reverse_card.jpg);top: 25%;
        left: 23%;

     }
     50.002% {
        background-image: url(pictures/king_card.png); top: 25%;
        left: 23%;
 
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png); top: 25%;
        left: 23%;

    }
    
    
}

@keyframes card3 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);     top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);  top: 25%;
        left: 43%;
    }
    49. 999% {
       background-image: url(pictures/reverse_card.jpg); top: 25%;
       left: 43%; 
    } 
    50.001% {
        background-image: url(pictures/reverse_card.jpg);  top: 25%;
        left: 43%;
     }
     50.002% {
        background-image: url(pictures/king_card.png);  top: 25%;
        left: 43%;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png);  top: 25%;
        left: 43%;
    }
    
    
}
@keyframes base 1 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);        top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);  top: 50%;
        left: 10%;
    
    }
   
    100%{
         ;background-image: url(pictures/reverse_card.jpg); top: 50%;
         left: 10%;
     
    }
    
    
}
@keyframes mycard 1 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);      top: 50%;
        left: 50%;     transform: rotate(0deg);
    
    }
      20% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg); left: 35vw;     transform: rotate(540deg);
        top: 67vh;
        left: 40vw;
    }
    59. 999% {
       background-image: url(pictures/reverse_card.jpg);left: 35vw; top: 67vh;
       left: 40vw;
    } 
    60.001% {
        background-image: url(pictures/reverse_card.jpg); left: 35vw; top: 67vh;
        left: 40vw;
     }
     60.002% {
        background-image: url(pictures/king_card.png); left: 35vw; top: 67vh;
        left: 40vw;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png);left: 35vw; top: 67vh;
        left: 40vw;
    }
    
    
}
@keyframes mycard 2 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);      top: 50%;
        left: 50%;     transform: rotate(0deg);
    
    }
      20% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg); left: 35vw;     transform: rotate(540deg);
        top: 67vh;
        left: 51vw;
    }
    59. 999% {
       background-image: url(pictures/reverse_card.jpg);left: 35vw; top: 67vh;
       left: 51vw;
    } 
    60.001% {
        background-image: url(pictures/reverse_card.jpg); left: 35vw; top: 67vh;
        left: 51vw;
     }
     60.002% {
        background-image: url(pictures/king_card.png); left: 35vw; top: 67vh;
        left: 51vw;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png);left: 35vw; top: 67vh;
        left: 51vw;
    }
    
    
}
@keyframes base 2 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);         top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);  top: 49%;
        left: 11%;
    
    }
   
    100%{
         ;background-image: url(pictures/reverse_card.jpg); top: 49%;
         left: 11%;
    }
}
@keyframes card 4 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);      top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);  top: 25%;
        left: 63%;
    }
    49. 999% {
       background-image: url(pictures/reverse_card.jpg); top: 25%;
       left: 63%;
    } 
    50.001% {
        background-image: url(pictures/reverse_card.jpg);  top: 25%;
        left: 63%;
     }
     50.002% {
        background-image: url(pictures/king_card.png);  top: 25%;
        left: 63%;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png); top: 25%;
        left: 63%; 
    }
    
    
}
@keyframes base 3 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);         top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg); top: 48%;
        left: 12%;
    }
   
    100%{
         ;background-image: url(pictures/reverse_card.jpg);  top: 48%;
         left: 12%;
    }
}
@keyframes card 5 {

    0% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);      top: 50%;
        left: 50%;
    }
      5% {
        transform: rotateY(0deg);background-image: url(pictures/reverse_card.jpg);  top: 25%;
        left: 83%; 
    }
    49. 999% {
       background-image: url(pictures/reverse_card.jpg); top: 25%;
       left: 83%; 
    } 
    50.001% {
        background-image: url(pictures/reverse_card.jpg);  top: 25%;
        left: 83%; 
     }
     50.002% {
        background-image: url(pictures/king_card.png);  top: 25%;
        left: 83%; 
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(pictures/king_card.png); top: 25%;
        left: 83%;
    }
    
    
} 





.footer{
    grid-area: footer;
    background-color: black;

}