.rownd{
    width: 10vw;
    height: 30%;
    background-color: rgb(231, 241, 250);
    position: absolute;
    top: 150%;
    left: 40vw;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
}
#one1{
    background-image: url(lemon.png);
    top: 120%;
    animation: machin1 0.5s 10 2s linear;
    left: 39.5vw;
 
}
#two1{
    background-image: url(cherry.png);
    top: 150%;
    animation: machin2 0.5s 10 2s  linear;
    left: 39.5vw;
}
#three1{
    background-image: url(bar.png);
    top: 180%;
    animation: machin3  0.5s 10 2s linear;
    left: 39.5vw;
}
#four1{
    background-image: url(seven.png);
    top: 210%;
    animation: machin4 0.5s 10 2s linear;
    left: 39.5vw;
}
#five1{
    background-image: url(bar.png);
    top: 240%;
    animation: machin5 0.5s 10 2s linear;
    left: 39.5vw;
    
}
#one2{
    background-image: url(lemon.png);
    top: 120%;
    animation: machin1 0.5s 12 2s linear;
    left: 29.5vw; 
    
 
}
#two2{
    background-image: url(cherry.png);
    top: 150%;
    animation: machin2 0.5s 12 2s linear;
    left: 29.5vw;
    
}
#three2{
    background-image: url(bar.png);
    top: 180%;
    animation: machin3  0.5s 12 2s linear;
    left: 29.5vw;
    
}
#four2{
    background-image: url(seven.png);
    top: 210%;
    animation: machin4 0.5s 12 2s linear;
    left: 29.5vw;
    
}
#five2{
    background-image: url(bar.png);
    top: 240%;
    animation: machin5 0.5s 12 2s linear;
    left: 29.5vw;
    
}
#one3{
    background-image: url(lemon.png);
    top: 120%;
    animation: machin1 0.5s 18 3s  linear;
    left: 19.5vw;

    
 
}
#two3{
    background-image: url(cherry.png);
    top: 150%;
    animation: machin2 0.5s 18 3s  linear;
    left: 19.5vw;

    
}
#three3{
    background-image: url(bar.png);
    top: 180%;
    animation: machin3  0.5s 18 3s  linear;
    left: 19.5vw;

    
}
#four3{
    background-image: url(seven.png);
    top: 210%;
    animation: machin4 0.5s 18 3s  linear;
    left: 19.5vw;

    
}
#five3{
    background-image: url(bar.png);
    top: 240%;
    animation: machin5 0.5s 18 3s linear;
    left: 19.5vw;
    ani

    
}

@keyframes machin1 {
    0% {top: 20%;}
    20%{top: 50%;}
    40%{top: 80%;}
    60%{top: 110%;}
    80%{top: 140%;}
    100%{top: 20%;}
    
    
}
@keyframes machin2 {
    0% {top: 50%;}
    20%{top: 80%;}
    40%{top: 110%;}
    60%{top: 140%;}
    80%{top: 20%;}
    100%{top: 50%;}
    
    
}
@keyframes machin3 {
    0% {top: 80%;}
    20%{top: 110%;}
    40%{top: 140%;}
    60%{top: 20%;}
    80%{top: 50%;}
    100%{top: 80%;}
    
    
}
@keyframes machin4 {
    0% {top: 110%;}
    20%{top: 40%;}
    40%{top: 20%;}
    60%{top: 50%;}
    80%{top: 80%;}
    100%{top: 110%;}
    
    
}
@keyframes machin5 {
    0% {top: 140%;}
    20%{top: 20%;}
    40%{top: 50%;}
    60%{top: 80%;}
    80%{top: 10%;}
    100%{top: 140%;}
    
    
}
#slot_machine{
    width: 70vw;
    position: relative;
    top: 40vh;
    left: 2.5vw;
}
#hidden{
    width: 80vw;
    height: 20vh;

    position: relative;
    top: 70vh ;
    background-color: rgb(163, 37, 37);

}

