

.rownd{
    width: 10vw;
    height: 30%;
    background-color: rgb(231, 241, 250);
    position: absolute;
    top: 150%;
    left: 40vw;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    
}

#one1{
    background-image: url(pictures/lemon.png);
    top: 0%;
    animation: machin1 0.5s 10 2s linear;
    left: 39.5vw;
 
}
#two1{
    background-image: url(pictures/cherry.png);
    top: 30%;
    animation: machin2 0.5s 10 2s  linear;
    left: 39.5vw;
}
#three1{
    background-image: url(pictures/bar.png);
    top: 60%;
    animation: machin3  0.5s 10 2s linear;
    left: 39.5vw;
}
#four1{
    background-image: url(pictures/seven.png);
    top: 90%;
    animation: machin4 0.5s 10 2s linear;
    left: 39.5vw;
}
#five1{
    background-image: url(pictures/bar.png);
    top: 120%;
    animation: machin5 0.5s 10 2s linear;
    left: 39.5vw;
    
}
#one2{
    background-image: url(pictures/lemon.png);
    top: 0%;
    animation: machin1 0.5s 12 2s linear;
    left: 29.5vw; 
    
 
}
#two2{
    background-image: url(pictures/cherry.png);
    top: 30%;
    animation: machin2 0.5s 12 2s linear;
    left: 29.5vw;
    
}
#three2{
    background-image: url(pictures/bar.png);
    top: 60%;
    animation: machin3  0.5s 12 2s linear;
    left: 29.5vw;
    
}
#four2{
    background-image: url(pictures/seven.png);
    top: 90%;
    animation: machin4 0.5s 12 2s linear;
    left: 29.5vw;
    
}
#five2{
    background-image: url(pictures/bar.png);
    top: 120%;
    animation: machin5 0.5s 12 2s linear;
    left: 29.5vw;
    
}
#one3{
    background-image: url(pictures/lemon.png);
    top: 0%;
    animation: machin1 0.5s 18 3s  linear;
    left: 19.5vw;

    
 
}
#two3{
    background-image: url(pictures/cherry.png);
    top: 30%;
    animation: machin2 0.5s 18 3s  linear;
    left: 19.5vw;

    
}
#three3{
    background-image: url(pictures/bar.png);
    top: 60%;
    animation: machin3  0.5s 18 3s  linear;
    left: 19.5vw;

    
}
#four3{
    background-image: url(pictures/seven.png);
    top: 90%;
    animation: machin4 0.5s 18 3s  linear;
    left: 19.5vw;

    
}
#five3{
    background-image: url(pictures/bar.png);
    top: 120%;
    animation: machin5 0.5s 18 3s linear;
    left: 19.5vw;
    ani

    
}

@keyframes machin1 {
    0% {top: 0%}
    20%{top: 30%;}
    40%{top: 60%;}
    60%{top: 90%;}
    80%{top: 120%;}
    100%{top: 0%}
    
    
}
@keyframes machin2 {
    0% {top: 30%;}
    20%{top: 60%;}
    40%{top: 90%;}
    60%{top: 120%;}
    80%{top: 0%}
    100%{top: 30%;}
    
    
}
@keyframes machin3 {
    0% {top: 60%;}
    20%{top: 90%;}
    40%{top: 120%;}
    60%{top: 0%}
    80%{top: 30%;}
    100%{top: 60%;}
    
    
}
@keyframes machin4 {
    0% {top: 90%;}
    20%{top: 120%;}
    40%{top: 0%}
    60%{top: 30%;}
    80%{top: 60%;}
    100%{top: 90%;}
    
    
}
@keyframes machin5 {
    0% {top: 120%;}
    20%{top: 0%}
    40%{top: 30%;}
    60%{top: 60%;}
    80%{top: 90%;}
    100%{top: 120%;}
    
    
}
#slot_machine{
    width: 70vw;
    position: absolute;
    top: 4%;
    left: 3vw;
}
#hidden{
    width: 80vw;
    height: 20vh;

    position: relative;
    top: 100vh ;
    background-color: rgb(163, 37, 37);

}

