body{
    background-color: rgb(163, 37, 37);
    overflow-x: hidden;
    height: 250vh;
}

.cards{
    width: 10vw;
    height: 30vh;
    border-radius: 4px;
    border: 1px solid;
    transform: rotateY(0deg);
    background-size: 100% 100%;
    background-image: url(reverse_card.jpg);
    position: absolute;
    top: 1vw;

}

#base{
    box-shadow: 0px 5px white, 6px 5px rgb(231, 229, 229);
    left: 1vw;

}



#mycard1{
    animation: mycard1 5s  1 forwards linear;

}
#mycard2{
    animation: mycard2 5s  1 forwards linear;

}
#base1{
    
    animation: base1 5s 1 forwards 6s  linear;
    


}

#card1{
   
    animation: card1 5s  1 forwards 7s linear;
    left: 1vw;

}
#card2{
    
    animation: card2 5s  1 forwards 7s linear;
    left: 1vw;


}

#card3{
    
    animation: card3 5s  1 forwards 7s linear;
    left: 1vw;


}

#base2{
    
    animation: base2 5s 1 forwards 15s  linear;
    


}
#card4{
    
    animation: card4 5s 1 forwards 16s  linear;
    


}
#base3{
    
    animation: base3 5s 1 forwards 22s  linear;
    


}
#card5{
    
    animation: card5 5s 1 forwards 23s  linear;
    


}


@keyframes card1 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);     left: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 13vw; 
    }
    49. 999% {
       background-image: url(reverse_card.jpg); left: 13vw;
    } 
    50.001% {
        background-image: url(reverse_card.jpg); left: 13vw;
     }
     50.002% {
        background-image: url(king_card.png); left: 13vw;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png);left: 13vw;
    }
    
    
}
@keyframes card2 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);     left: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 24vw;  
    }
    49. 999% {
       background-image: url(reverse_card.jpg); left: 24vw; 
    } 
    50.001% {
        background-image: url(reverse_card.jpg); left: 24vw; 
     }
     50.002% {
        background-image: url(king_card.png); left: 24vw; 
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png); left: 24vw; 
    }
    
    
}

@keyframes card3 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);  left: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 35vw; 
    }
    49. 999% {
       background-image: url(reverse_card.jpg);left: 35vw; 
    } 
    50.001% {
        background-image: url(reverse_card.jpg); left: 35vw; 
     }
     50.002% {
        background-image: url(king_card.png); left: 35vw; 
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png);left: 35vw; 
    }
    
    
}
@keyframes base1 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);     top: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); top: 22vw;
    }
   
    100%{
         ;background-image: url(reverse_card.jpg);top: 22vw;
    }
    
    
}
@keyframes mycard1 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);  left: 1vw;     transform: rotate(0deg);
    
    }
      20% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 35vw;     transform: rotate(540deg);
        top: 67vh;
        left: 40vw;
    }
    59. 999% {
       background-image: url(reverse_card.jpg);left: 35vw; top: 67vh;
       left: 40vw;
    } 
    60.001% {
        background-image: url(reverse_card.jpg); left: 35vw; top: 67vh;
        left: 40vw;
     }
     60.002% {
        background-image: url(king_card.png); left: 35vw; top: 67vh;
        left: 40vw;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png);left: 35vw; top: 67vh;
        left: 40vw;
    }
    
    
}
@keyframes mycard2 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);  left: 1vw;     transform: rotate(0deg);
    
    }
      20% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 35vw;     transform: rotate(540deg);
        top: 67vh;
        left: 51vw;
    }
    59. 999% {
       background-image: url(reverse_card.jpg);left: 35vw; top: 67vh;
       left: 51vw;
    } 
    60.001% {
        background-image: url(reverse_card.jpg); left: 35vw; top: 67vh;
        left: 51vw;
     }
     60.002% {
        background-image: url(king_card.png); left: 35vw; top: 67vh;
        left: 51vw;
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png);left: 35vw; top: 67vh;
        left: 51vw;
    }
    
    
}
@keyframes base2 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);     top: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); top: 21.5vw; left: 1.5vw;
    }
   
    100%{
         ;background-image: url(reverse_card.jpg); top: 21.5vw; left: 1.5vw;
    }
}
@keyframes card4 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);  left: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 48vw; 
    }
    49. 999% {
       background-image: url(reverse_card.jpg);left: 48vw; 
    } 
    50.001% {
        background-image: url(reverse_card.jpg); left: 48vw; 
     }
     50.002% {
        background-image: url(king_card.png); left: 48vw; 
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png);left: 48vw; 
    }
    
    
}
@keyframes base3 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);     top: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); top: 21vw; left: 2vw;
    }
   
    100%{
         ;background-image: url(reverse_card.jpg); top: 21vw; left: 2vw;
    }
}
@keyframes card5 {

    0% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg);  left: 1vw;
    }
      5% {
        transform: rotateY(0deg);background-image: url(reverse_card.jpg); left: 60vw; 
    }
    49. 999% {
       background-image: url(reverse_card.jpg);left: 60vw; 
    } 
    50.001% {
        background-image: url(reverse_card.jpg); left: 60vw; 
     }
     50.002% {
        background-image: url(king_card.png); left: 60vw; 
     }
    100%{
        transform: rotateY(180deg) ;background-image: url(king_card.png);left: 60vw; 
    }
    
    
}





